.app-container {
  margin-top: 60px;
}

@media (max-width: 767px) {
	.app-container {
		margin-top: 0px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.app-container {
		margin-top: 0px;
	}
}

.input-append {
	height: 35px;
	margin-bottom: 0px;
}

.input-append input {
	height: 25px;
}

.input-append button.add-on {
	height: inherit !important;
}