<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39303796-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/busfinder.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#">HRT Bus Finder</a>
			</div>
		</div>
		
		<div id="stops"></div>
	</div>
		
	<script src="/static/js/jquery-2.0.0.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/static/js/underscore-min.js"></script>
	<script src="/static/js/backbone.js"></script>
	<script src="/static/js/busfinder.js"></script>
	
	<script type="text/template" id="stop-template">
		<div class="stop-name"><b><%= stopName %></b> (Stop <%= stopId %>)</div>
		<div class="arrivals">
			<table class="table">
				<thead>
					<tr>
						<th>Route</th>
						<th>Destination</th>
						<th>Minutes</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</script>
	
	<script type="text/template" id="arrival-template">
		<td><%= route_id %></td>
		<td><%= destination %></td>
		<td><%= arriveMinutes %></td>
	</script>
</body>
</html>