<div id="find-options" style="height: 100%">
    <form class="form-inline">
        <input id="intersection" type="text" placeholder="Intersection" style="height: 100%">
          <select id="city">
            <option selected>City</option>
              <option>Chesapeake</option>
              <option>Hampton</option>
              <option>Newport News</option>
              <option>Norfolk</option>
              <option>Portsmouth</option>
              <option>Virginia Beach</option>
          </select>
          <button id="search" class="btn">Search</button>
          <button id="locate" class="btn">Current Location</button>
      </form>
</div>
<div class="mapcanvas"></div>
