<!--  Tried troubleshooting this using these three lines just to see,
I dont think we're suppose to have them though ...
<script src="../../collections/StopList.js"></script>
<script src="../StopListView.js"></script>
<script src="../../models/Stop.js"></script> 
-->
    <div class="stop-name"><h4><%= stopName %></h4> <p>(Stop <%= stopId %>)</p></div>
		<div class="arrivals">
			<div class="row-fluid head-label">
				<div class="span2 quarter">
					<p>Route</p>
				</div>
				<div class="span8 half">
					<p>Destination</p>
				</div>
				<div class="span2 quarter">
					<p>Minutes</p>
				</div>
			</div>
			<div class="table">
			</div>
		</div>
