<div id="feedback">
  <h1>Feedback</h1>
  <p>Having troubles? Have a feature idea? Just want to say thanks to the volunteers in Hampton Roads who built/support this site?</p>
  <form action="mailto:code4hr-team@codeforamerica.org" method="post" enctype="text/plain">
    <input placeholder="Name" name="name" type="text">
    <label for="name">Name</label>
  <input placeholder="email address" name="email" type="text">
  <label for="email">Email</label>
  <textarea name="comment" placeholder="Your feedback here..." id="" cols="30" rows="5"></textarea>
  <label for="feedback">Feedback</label>
  <button type="submit" class="btn">Submit</button>
  </form>
</div>
